<%- include('./layouts/header') %>


<p> Hi your google ID is  <%= GoogleUser.googleID %></p>
<p> Hi your google username is  <%= GoogleUser.googleUsername %></p>
    

<%- include('./layouts/footer') %>