<%- include('./layouts/header') %>
<div class="container">
  <div class="row">
    
    <div>
     
    <form action="/auth/Login" method="post" class="login-form">

      <div>
        <h1 style="color: #c6171b;" class="loginHeading"> LOGIN</h1>
        <hr class="colored-hr">
      </div>
    

    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="email_id" name="email_field" aria-describedby="emailHelp">
      
    </div>

    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="password_id1" name="password_field1">
    </div>

    
    
    <button type="submit" class="btn btn-primary custom-btn">LOGIN</button>
    <p class="spanText"> Don't have an account ? <span> <a href="/auth/Register"> Register </a>  </span></p>
   </form>

    </div>
  </div>
</div>

<%- include('./layouts/footer') %>