<%- include('./layouts/header') %>


<button onclick="window.history.back()" type="submit" class="btn btn-primary">Back</button>



<p>Welcome,</p>

<p>Email </p>

<p>Role </p>

<p>User Object </p>

<%- include('./layouts/footer') %>