<%- include('./layouts/header') %>


<button onclick="window.history.back()" type="submit" class="btn btn-primary">Back</button>

<h1>USER PROFILE</h1>

<p>ID </p>

<p>Email </p>

<p>Role </p>

<p>User Object </p>

<%- include('./layouts/footer') %>