<%- include('./layouts/header') %>

<form action="/auth/Register" method="post" class="RegisterForm">

  <h1 style="color: #c6171b;" class="RegisterHeading">REGISTRATION</h1>
  <hr class="colored-hr">

    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="email_id" name="email_field" aria-describedby="emailHelp">
      
    </div>

    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="password_id1" name="password_field1">
    </div>

    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
        <input type="password" class="form-control" id="password_id2" name="password_field2">
    </div>
    
    <button type="submit" class="btn btn-primary custom-btn">REGISTER</button>
    <p class="spanText"> Already have an account ? <span> <a href="/auth/Login"> Login </a>  </span></p>

    <% if (ErrorEmailAlready) { %>
      <p><%= ErrorEmailAlready %></p>
    <% } %>

    

   
  </form>

  

<%- include('./layouts/footer') %>